.btn__menu {
    position: fixed;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    left: 1rem;
    top: 1rem;
}

.btn__burguer {
    position: fixed;
    width: 3rem;
    height: 0.6rem;
    background-color: #fff;
    left: 1rem;
    top: 3.5rem;
    z-index: 998;
    border-radius: 0.3rem;
    transform: rotate(0deg) translate(0, -1.2rem);
    transition: transform 100ms ease;
}

.btn__burguer::before,
.btn__burguer::after {

    content: "";
    display: block;
    width: 100%;
    height: 0.6rem;
    background-color: #fff;
    border-radius: 0.3rem;
    transition: transform 00ms ease;
}

.btn__burguer::before {

    transform: rotate(0deg) translate(0, -0.9rem);
}

.btn__burguer::after {

    transform: rotate(0deg) translate(0, 0.3rem);
}

.btn__menu:checked+.btn__burguer {
    background-color: transparent;

}

.btn__menu:checked+.btn__burguer::before {
    transform: rotate(45deg) translate(0, 0);
}

.btn__menu:checked+.btn__burguer::after {

    transform: rotate(-45deg) translate(0.5rem, -0.4rem)
}

.navbar {

    width: 270px;
    position: fixed;
    top: 6rem;
    right: 0;
    bottom: 0;
    left: 0;
    border-top-right-radius: 30px;
    border-top: 2px solid greenyellow;
    border-right: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 997;
    box-shadow: 10px 0px 30px 10px rgba(135, 255, 114, 0.204);
    background-color: #00000098;
    transform: translate(-120%, 0);
    transition: transform 200ms ease-in-out;
}

.btn__menu:checked~.navbar {

    transform: translate(0, 0);
}

.navbar__menu {
    color: #fff;
    font-size: 2rem;
    list-style-type: none;
}
.navbar__links {
    text-decoration: none;
    font-size: 15px;

    color: #fff;
}

.navbar__links:hover {
    border-left: 5px solid greenyellow;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    transition: ease-in 0.2s;
}