.carousel {
    width: 100%;
    height: max-content;
    background-color: rgb(116, 187, 187);
    overflow-x: hidden;
    display: flex;
    position: relative;
    border: thick solod red;
}


.carousel__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 100%);
    transition: transform 0.5s ease;
    overflow: x hidden;
}

.carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: thin solid red;

}

.buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.buttons label {
    width: 15px;
    height: 15px;
    background-color: rgb(5, 71, 93);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.buttons label:hover {
    background-color: rgb(128, 128, 128);
}

.buttons input[type='radio'] {
    display: none;
}