.carousel {
    width: 100%;
    height: max-content;
 
    overflow-x: hidden;
    display: flex;
    position: relative;
}


.carousel__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 100%);
    transition: transform 0.5s ease;
    overflow: x hidden;
}

.carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.buttons {
    position: absolute;
    justify-content: center;
    bottom: 1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: solid thick rgb(104, 5, 82);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.buttons label {
    width: 15px;
    height: 15px;
    background-color:rgb(253, 253, 253);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.buttons label:hover {
    background-color: rgb(255, 18, 204);
}

.buttons input[type='radio'] {
    display: none;
}