.contact {
    display: flex;
    justify-content: space-around;
    gap: .2em;
    padding: .5em;
    background-color: #f3f3f3;
}

.contact article {
    display: flex;
    flex-direction: column;
}

.contact article h4 {
    color: #111111;
}

.contact article address {
    color: #111111;
    font-weight: bold;
    text-wrap: wrap;
}

.box__redes {
    display: flex;
    gap: .5em;
    margin: 0 auto;
}

.details>a {
    color: #111111;
}

/** @media modificar section contact **/
@media(width < 768px) {
    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: .2em;
        padding: .5em;
        background-color: #f3f3f3;
    }

    .contact h4,
    p {
        font-size: 1rem;
    }

    .box__redes {
        display: flex;
        margin: 0 auto;
    }
}


.instagram,
.facebook,
.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 237, 191, 0.976);
    border-radius: .5rem;
    margin: 0 auto;
    width: 2rem;
    height: 2rem;

}

.footer {
    text-align: center;
    padding: .5em;
}