.background-img {
    background-image: url(../assets/icons/6484470.jpg);
}

.form__section {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding: 1em;
    text-align: center;
}

.container__form {
    margin: 0 auto;
    width: 80%;

}

.container__form h2 {
    font-size: 1.7rem;
    color: #000;
}

form {
    padding: 1.1em;
    width: 100%;
    background-color: rgba(247, 245, 245, 0.527);
    position: relative;
}

label {
    font-size: 1.3rem;
    color: #000;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    padding: .5em;
    font-size: 1rem;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #080808;
    font-weight: bold;
}

/* valid form */
.form [required]:valid {
    border: thick solid var(--color-valid);
}

.form [required]:invalid {
    border: thin solid var(--color-invalid);
}

.form-error {
    font-size: 1.1rem;
    background-color: var(--color-invalid);
    color: #000;
    transition: all 800ms ease;
    font-weight: bold;
}

.form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
    display: none;
}

@keyframes show-message {
    0% {
        visibility: hidden;
    }

    100% {
        opacity: 1;
    }
}

.box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.info {
    margin-top: 1em;
    display: flex;
    gap: 2em;
    justify-content: center;
    font-size: 1.1rem;
}

.info a {
    color: #000;
    font-weight: bold;
}



.btnContinue,
.loginButton,
.passwordBtn {
    width: 100%;
    padding: .4em;
    font-size: 1rem;
    margin-top: 1em;
    cursor: pointer;
    background-color: rgb(96, 214, 185);
    font-weight: bold;
}

form button:nth-of-type(1):active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}





/**************************/
/* Register */
.register {
    position: relative;
}

.register p {
    color: #000;
    font-weight: bold;
}

select {
    margin-top: 0.5rem;
    padding: .5em;
    font-size: 1rem;
}

input[type="number"],
input[type="text"],
input[type="date"] {
    padding: .5em;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Recuperar contraseña */

#modal {
    position: fixed;
    margin: 0 auto;
    transform: translate(0, 100%);
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.975);
    padding: .5em;
    border: thin solid aqua;

}

#modal h3,
p {
    color: #000;
    text-align: center;
}

#modal h3 {
    text-decoration: underline;
}

#modal::backdrop {
    background-color: rgba(37, 36, 36, 0.852)
}

#closeModal {
    all: unset;
    cursor: pointer;
}

/**************************/

.modalSearch {
    position: fixed;
    margin: 0 auto;
    transform: translate(0, 250%);
    background-color: rgba(0, 0, 0, 0.975);
    padding: .5em;
    border: thin solid aqua;
}

.modalSearch::backdrop {
    background-color: rgba(37, 36, 36, 0.852)
}

input[type="search"] {
    padding: .6em;
    width: 15rem;
}


input[type="search"]::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
}

.closeModalSearch,
.searchButton {
    all: unset;
    cursor: pointer;
}




.formSearch {
    display: flex;
    justify-content: center;
    padding: .5rem;
    width: auto;
    background-color: rgba(37, 36, 36, 0.608);
    border: thin solid aqua;
}


.formSearch>.searchButton:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}