.background-img {
    background-image: url(../assets/icons/6484470.jpg);
}

.form__section {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding: 1em;
    text-align: center;
}

.container__form {
    margin: 0 auto;
    width: 80%;

}

.container__form h2 {
    font-size: 1.7rem;
    color: #fff;
}

form {
    padding: 1.1em;
    width: 100%;
    background-color: rgba(53, 51, 51, 0.538);
    position: relative;

}

input[type="email"],
input[type="password"] {
    padding: .5em;
    font-size: 1rem;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: black;
}

.box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.info {
    margin-top: 1em;
    display: flex;
    gap: 2em;
    justify-content: center;
    font-size: 1.1rem;
}

.info a {
    color: #fff;
    font-weight: bold;
}



.btnContinue,
.loginButton,
.passwordBtn {
    width: 100%;
    padding: .4em;
    font-size: 1rem;
    margin-top: 1em;
    cursor: pointer;
    background-color: rgb(141, 222, 195);
    font-weight: bold;
}

form button:nth-of-type(1):active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}





/**************************/
/* Register */
.register {
    position: relative;
}

.register p {
    color: #fff;
    font-weight: bold;
}

select {
    margin-top: 0.5rem;
    padding: .5em;
    font-size: 1rem;
}

input[type="number"],
input[type="text"] {
    padding: .5em;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Recuperar contraseña */

#modal {
    position: fixed;
    margin: 0 auto;
    transform: translate(0, 100%);
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.975);
    padding: .5em;
    border: thin solid aqua;

}

#modal h3,
p {
    color: #fff;
    text-align: center;
}

#modal h3 {
    text-decoration: underline;
}

#modal::backdrop {
    background-color: rgba(37, 36, 36, 0.852)
}

#closeModal {
    all: unset;
    cursor: pointer;
}

/**************************/

.modalSearch {
    position: fixed;
    margin: 0 auto;
    transform: translate(0, 250%);
    background-color: rgba(0, 0, 0, 0.975);
    padding: .5em;
    border: thin solid aqua;
}

.modalSearch::backdrop {
    background-color: rgba(37, 36, 36, 0.852)
}

input[type="search"] {
    padding: .6em;
    width: 15rem;
}


input[type="search"]::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
}

.closeModalSearch,
.searchButton {
    all: unset;
    cursor: pointer;
}




.formSearch {
    display: flex;
    justify-content: center;
    padding: .5rem;
    width: auto;
    background-color: rgba(37, 36, 36, 0.608);
    border: thin solid aqua;
}


.formSearch>.searchButton:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}