
.main {
    background-color: #3b4042;
}

.footer {
    background-color: greenyellow;
    color: #000000;
}



.header {
    background-color: #000000;
    position: fixed;
    display: flex;
    height: 100px;
    align-items: center;
    z-index: 99;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
}

.shop h1 {
    font-size: 60px;
}


.shop h1 {
    font-size: 60px;
}
.logo {
    display: flex;
 

    background-color: #000000;
}
.logo img {
    height: 6rem;
}

.whatsapp {
    position: fixed;
    bottom: 1.5em;
    z-index: 99999;
    right: 1em;
}

.whatsapp img {
    width: 5rem;
    height: 5rem;
}

.hotsale {
    position: fixed;
    z-index: 99999;
    bottom: 6.5em;
    right: 1em;
}

.hotsale img {
    width: 5rem;
}

@media(width > 468px) {

    .logo {
        display: inline-block;
      padding-right: 4em;
        background-color: #000000;
        display: inline-block;
        padding-right: 6em;
        margin-right: 1em;
        padding-left: 6em;
    } 
}

@media (max-width: 468px) {
    .header-buttons {
      display: flex;
      justify-content: end;
      padding-left: .5em;
      
    }
    .header-buttons div:nth-child(1) {
      display: none; /* Oculta el botón de Registro */
    }
    .header-buttons div:nth-child(3) {
    
    }
    .logo{
        display: inline-block;
        padding-right: 6em;
        margin-right: 1em;
        padding-left: 4em;
    }
  }