@media(width < 768px) {

    body {
        display: grid;
        grid-template:
            "header" 85px
            "main" 1fr
            "footer" 50px
            
    }
    
    .header img {
        width: 80px; 
        height: auto;
        border-radius: 50%;
        transform: translateX(5rem);
        
    }

    .header {
        background-color: #000000;
        grid-template-areas: header;
    }

    .main {
        grid-area: main;
        background-color: #3b4042;
    }

    .footer {
        grid-area: footer;
        background-color: greenyellow;
    }
    .logo img {
        transform: translateX(-10px);
    }
}