
.main {
    background-color: #3b4042;
}

.footer {
    background-color: greenyellow;
    color: #000000;
}



.header {
    background-color: #000000;
    position: fixed;
    display: flex;
    height: 100px;
    align-items: center;
    z-index: 99;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
}

.shop h1 {
    font-size: 60px;
}

.logo {
    margin-left: 2em;
    background-color: #000000;
    transform: translateX(3em);
}

.logo img {
    height: 6rem;
}

.whatsapp {
    position: fixed;
    bottom: 1.5em;
    z-index: 99999;
    right: 1em;
}

.whatsapp img {
    width: 5rem;
    height: 5rem;
}

.hotsale {
    position: fixed;
    z-index: 99999;
    bottom: 6.5em;
    right: 1em;
}

.hotsale img {
    width: 5rem;
}

@media(width < 768px) {

    .logo {
        display: inline-block;
        transform: translateX(35%);
        background-color: #000000;
    } 
}