/* Resolucion Movil */
@media(width >=360px) {

    .btn__menu-movil {
        position: fixed;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        z-index: 999;
        opacity: 0;
        left: 1rem;
        top: 1rem;
    }

    .btn__burguer {
        position: fixed;
        width: 3rem;
        height: 0.6rem;
        background-color: #fff;
        left: 1rem;
        top: 3.4rem;
        z-index: 998;
        border-radius: 0.3rem;
        transform: rotate(0deg) translate(0, -1.2rem);
        transition: transform 500ms ease;
    }

    .btn__burguer::before,
    .btn__burguer::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.6rem;
        background-color: #fff;
        border-radius: 0.3rem;
        transition: transform 500ms ease;
    }

    .btn__burguer::before {
        transform: rotate(0deg) translate(0, -0.9rem);
    }

    .btn__burguer::after {
        transform: rotate(0deg) translate(0, 0.3rem);
    }

    .btn__menu-movil:checked+.btn__burguer {
        background-color: transparent;
    }

    .btn__menu-movil:checked+.btn__burguer::before {
        transform: rotate(45deg) translate(0, 0);
    }

    .btn__menu-movil:checked+.btn__burguer::after {
        transform: rotate(-45deg) translate(0.5rem, -0.4rem)
    }

    .navbar__movil {
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 52%;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        margin-top: 5.4rem;
        z-index: 997;
        background-color: var(--background);
        border: thin solid aqua;
        border-left-color: black;
        border-right-color: black;
        transform: translate(-100%, 0);
        transition: transform 500ms ease, background-color 500ms ease;
    }

    .btn__menu-movil:checked~.navbar__movil {
        transform: translate(0, 0);
    }

    .navbar__menu-movil {
        color: #fff;
        font-size: 1.5rem;
        list-style-type: none;
        position: absolute;
        top: 3em;
        flex-direction: row-reverse;
        flex-direction: column;
        display: flex;
        padding: 1em;
    }

    .computer::before {
        content: url(../assets/icons/monitoring-svgrepo-com.png);

    }

    .cpu::before {
        content: url(../assets/icons/ordenador-personal.png);
    }

    .mouse::before {
        content: url(../assets/icons/mouse-svgrepo-com.png);
    }

    .silla::before {
        content: url(../assets/icons/silla-giratoria.png);
    }

    .computer::before,
    .cpu::before,
    .mouse::before,
    .silla::before {
        margin-right: .4rem;
    }


    .navbar__links-movil {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        padding: .3em;

    }


    /* Navbar - Header */
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;

        gap: 1em;
        color: #fff;
    }

    .logo {
        border: thin solid aqua;
    }

    .header a {
        color: #fff;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }

    .navbar__menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }

    .navbar__links {
        text-decoration: none;
        color: #fff;
        gap: 4em;
    }

    .navbar__links {
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3em;
        font-size: 1.2rem;
    }

    /* 
    .navbar__links span {
        display: none;
    } */

}

/*******************************************************/


/* Configs */
@media(width < 768px) {
    .navbar__links span {
        display: none;
    }

    @media(width >=360px) {
        .btn__menu-movil {
            left: .5rem;
        }

        .btn__burguer {
            left: .5rem;
        }
    }

    /* Resolucion Desktop modificada*/


    /* @media(width >=768px) { */

    /* .btn__menu-movil {
        display: none;
    }

    .btn__burguer {
        display: none;
    }



    .navbar__movil {
        display: none;
        position: relative;
    }

    .navbar__menu-movil {
        position: relative;
    } */

    /* Navbar - Header */
    /* .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
        color: #fff;
    }

    .header a {
        color: #fff;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar__menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }

    .navbar__links {
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3em;
        font-size: 1.2rem;
    } */



    /* } */


}