/* Resolucion Movil */
@media(width <=768px) {

    .btn__menu-movil {
        position: fixed;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        z-index: 999;
        opacity: 0;
        left: 1rem;
        top: 1rem;
    }

    .btn__burguer {
        position: fixed;
        width: 3rem;
        height: 0.6rem;
        background-color: #fff;
        left: 1rem;
        top: 3.4rem;
        z-index: 998;
        border-radius: 0.3rem;
        transform: rotate(0deg) translate(0, -1.2rem);
        transition: transform 500ms ease;
    }

    .btn__burguer::before,
    .btn__burguer::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.6rem;
        background-color: #fff;
        border-radius: 0.3rem;
        transition: transform 500ms ease;
    }

    .btn__burguer::before {
        transform: rotate(0deg) translate(0, -0.9rem);
    }

    .btn__burguer::after {
        transform: rotate(0deg) translate(0, 0.3rem);
    }

    .btn__menu-movil:checked+.btn__burguer {
        background-color: transparent;
    }

    .btn__menu-movil:checked+.btn__burguer::before {
        transform: rotate(45deg) translate(0, 0);
    }

    .btn__menu-movil:checked+.btn__burguer::after {
        transform: rotate(-45deg) translate(0.5rem, -0.4rem)
    }

    .navbar__movil {
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 50%;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        margin-top: 5.4rem;
        z-index: 997;
        background-color: #131313ea;
        border: thin solid aqua;
        border-left-color: black;
        border-right-color: black;
        transform: translate(-100%, 0);
        transition: transform 500ms ease, background-color 500ms ease;
    }

    .btn__menu-movil:checked~.navbar__movil {
        transform: translate(0, 0);
    }

    .navbar__menu-movil {
        color: #fff;
        font-size: 1.5rem;
        list-style-type: none;
        position: absolute;
        top: 3em;
        display: flex;
        flex-direction: column;
        padding: .2em;

    }

    .computer::before {
        content: url(../assets/icons/monitoring-svgrepo-com.png);

    }

    .cpu::before {
        content: url(../assets/icons/ordenador-personal.png);
    }

    .mouse::before {
        content: url(../assets/icons/mouse-svgrepo-com.png);
    }

    .silla::before {
        content: url(../assets/icons/silla-giratoria.png);
    }

    .user::before {
        content: url(../assets/icons/user-solid.png);
    }

    .user::before,
    .computer::before,
    .cpu::before,
    .mouse::before,
    .silla::before {
        margin-right: .4rem;
    }

    .navbar__links {
        display: flex;
    }

    .navbar__links-movil {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        padding: .3em;
        position: relative;

    }

    /********************/

    .submenu {
        display: none;
    }


    .toggle-submenu:checked+.submenu {
        display: block;
    }


    .toggle-submenu {
        display: none;
    }




    .submenu {
        background-color: #131313ea;
        position: fixed;
        z-index: 999;
        transition: z-index 1s ease;
        top: 0em;
        right: 0;
        left: 0;
        bottom: 0;
        list-style-type: none;
        display: none;
    }

    .submenu__item {
        padding: .1em;
        font-size: 1.1rem;
    }

    .submenu__link {
        color: #fff;
    }

    .icon-submenu {
        width: 1.2rem;
    }


    /* Navbar - Header */
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
        color: #fff;
    }

    /* .logo {
        border: thin solid aqua;
    } */

    .header a {
        color: #fff;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }

    .navbar__menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }

    .navbar__links {
        text-decoration: none;
        color: #fff;
        gap: 4em;
    }

    .navbar__links {
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3em;
        font-size: 1.2rem;
    }


    /* .navbar__links span {
        display: none;
    } */

}



/* Resolucion Desktop */
@media(width >768px) {

    /* Navbar - Header */
    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
    }

    .header .navbar__links {
        color: #fff;
        font-size: 1.1rem;
    }

    .navbar {
        display: flex;
        position: relative;
        font-weight: bold;
    }

    .navbar__menu {
        display: flex;
        list-style-type: none;
        position: relative;
        gap: 1em;
    }

    .navbar__items {
        color: black;

    }

    .navbar__links {
        display: flex;
        align-items: center;
    }

    .submenu {
        position: absolute;
        z-index: 999;
        background-color: rgb(0, 0, 0);
        list-style-type: none;
        display: none;
        margin-top: 2rem;
        gap: .5em;
        list-style-type: none;
        padding: .2em;
    }

    .submenu__items {
        background-color: #fff;
        color: #fff;
    }

    .submenu__links:hover {
        background-color: rgba(55, 237, 191, 0.976);

    }

    .submenu__links {
        color: black;
    }

    .navbar__links:hover+.submenu,
    .submenu:hover {
        display: flex;
        flex-direction: column;
    }

    .navbar__items {
        display: flex;
    }


    .user::before {
        content: url(../assets/icons/user-solid.png);
    }

    .computer::before {
        content: url(../assets/icons/monitoring-svgrepo-com.png);

    }

    .cpu::before {
        content: url(../assets/icons/ordenador-personal.png);
    }

    .mouse::before {
        content: url(../assets/icons/mouse-svgrepo-com.png);
    }

    .silla::before {
        content: url(../assets/icons/silla-giratoria.png);
    }




    /**** Config movil  *******/
    .btn__menu-movil {
        display: none;
    }

    .btn__burguer {
        display: none;
    }

    .navbar__menu-movil {
        display: none;
    }


}

@media(max-width: 402px) {
    .logo {
        margin-left: 2em;
    }
}




@media(max-width: 402px) {
    .logo {
        margin-left: 2em;
    }
}


/*******************************************************/


/* Configs */
@media(width < 768px) {
    .navbar__links span {
        display: none;
    }
}

@media(width >=360px) {
    .btn__menu-movil {
        left: .5rem;
    }

    .btn__burguer {
        left: .5rem;
    }
}