.products {
    background-color: rgba(37, 37, 37, 0.765);
    padding: .5em;
    color: #fff;
}

.products h2 {
    margin-left: 1em;
    text-decoration: underline;
    font-weight: bold;


}

.title h1 {
    color: #000;
    background-color: aqua;
    display: inline-block;
    margin-left: 1em;
    text-align: center;
    width: auto;
}

.container__products {
    border: thin solid aqua;
    width: 100%;
    height: auto;
    display: flex;
    gap: 1em;
    margin-right: 1em;
    padding: .5em;
}

@media(max-width: 931px) {

    .container__products {
        border: thin solid aqua;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.productos__box {
    background-color: #2b2b2b1e;
    color: #fff;
    padding: 1em;
    cursor: pointer;
    width: 52%;
}

.productos__box p {
    color: #fff;
}

.productos__box:hover {
    border: thin solid aqua;
}

.productos__box figcaption {
    font-weight: bold;
    text-align: center;
}

.btnProducts {
    all: unset;
    background-color: rgb(28, 225, 67);
    color: #161616;
    border-radius: .1rem;
    margin-top: .5em;
    padding: .3em;
    width: 40%;
    cursor: pointer;
}

.btnProducts:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.price {
    background-color: rgba(23, 255, 255, 0.83);
    border: thin solid aqua;
    border-radius: .1rem;
    margin-top: 1em;
    padding: .1em;
    width: 100%;
    text-align: center;
}

.price p {
    color: #000;
}



.gabinete-price {
    margin-top: 2em;
}

/***********/
.container__brands {
    background-color: rgba(120, 72, 72, 0.604);
    display: flex;
    margin-top: 1em;
    border: thin solid rgb(17, 17, 17);
    width: 100%;
}