.shop {
	background-color: #5c3bb6ec;
	padding-top: 3rem;
	color: white;
	padding-bottom: 2em;
	text-align: center;
}

.shop h1 {
	font-size: 40px;
}

.tached-price span {
	color: #070706;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	gap: 3em;
	justify-content: center;
	color: #47554d;
	cursor: pointer;
}

.product-card {
	max-width: 100%;
	border: 2px solid #ADFF30;
	border-radius: 10px;
	text-align: center;
	background-color: #ffffff;
	transition: all .5s ease;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.price-box {
	display: grid;
}

.price-box .price {
	font-size: 25px;
	color: #000000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: bold;
}

.shop .product-card h2 {
	font-size: 1rem;
	color: #000000;
	margin: 0;
}

.product-card .tached-price {
	text-decoration: line-through;
	font-size: 16px;
	text-decoration-thickness: 2px;
}

.product-card .tached-price sup {
	font-size: 0.5rem;
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

.special-price {
	padding-bottom: 10px;
	font-size: 0.8rem;
	color: #666;
}

.product-card .price sup {
	font-size: 0.8rem;
}

.product-card img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.installments {
	padding-left: 5px;
	font-size: 14px;
	color: #666;
}

.cta-button {
	display: inline-block;
	padding: 5px;
	height: 3em;
	font: bold 0.8rem sans-serif;
	border-radius: 0 0 10px 10px;
	background-color: #8f26e4;
	color: #fff;
	text-decoration: none;
	transform: translateY(0.6rem);
	margin-bottom: 10px;
}

.cta-button:hover {
	background-color: #ADFF30;
	color: rgb(0, 0, 0);
	transition: ease-out 500ms;
}

.product-card:hover {
	transform: translateY(-5px);
	box-shadow: 1px 2px 10px 3px #ADFF30;
}

.product-card .cart {
	position: absolute;
	top: 1px;
	left: 0;
	width: 28px;
	height: 28px;
	border-radius: 10px;
	background: #08f420;
	color: #190707;
	display: grid;
	place-items: center;
	font-size: 15px;
}