.first-table,
.second-table {
    display: flex;
}

.second-table {
    flex-direction: row;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.table h5 {
    position: absolute;
    top: .5em;
}

table {
    margin-top: 1em;
    border: thin solid rgb(126, 239, 126);


}

th,
td {
    border-bottom: thick solid rgb(20, 167, 167);
    width: 50%;
}



td {
    font-size: 1rem;
}